<%# レイアウトテンプレートとは、アプリケーションのビューファイルの共通部分をまとめたもの %>
<%# Railsの場合、application.html.erbというファイルがレイアウトテンプレートとなる %>
<%# application.html.erbはレイアウトファイルとも呼ばれる %>
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ProtoSpace</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%# stylesheet_link_tagメソッドは読み込むCSSファイルを指定できるヘルパーメソッド
    読み込むためのCSSファイルはapp/assets/stylesheets/というディレクトリに配置 %>
    <%# application.html.erbのstylesheet_link_tagの引数には、'application'と書いてあるため、
    app/assets/stylesheets/ディレクトリ内のapplication.cssというCSSファイルを読み込むことを示している %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&display=swap" rel="stylesheet">
  </head>

  <body>
    <header class="header">
      <div class="inner">
        <div class="nav">
          <div class="nav__left">
            <%# トップページに表示される画像ファイルをapp/assets配下より指定 %>
            <%= link_to image_tag("logo.png", class: :logo), root_path %>
          </div>
          <%# ログインしているときは以下を表示するようにしましょう %>
          <% if user_signed_in? %>
            <div class="nav__right">
              <%# ログアウトの際はHTTPメソッドを指定する必要がある為、link_toの引数として、method: :deleteを記述 %>
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: :nav__logout %>
              <%= link_to "New Proto", new_prototype_path, class: :nav__btn %>
            </div>
          <% else %>
          <%# // ログインしているときは上記を表示するようにしましょう %>
          <%# ログインしていないときは以下を表示するようにしましょう %>
            <div class="nav__right">
              <%= link_to "ログイン", new_user_session_path, class: :nav__btn %>
              <%= link_to "新規登録", new_user_registration_path, class: :nav__btn %>
            </div>
          <% end %>
          <%# // ログインしていないときは上記を表示するようにしましょう %>
        </div>
      </div>
    </header>
    <%# レイアウトテンプレートであるapplication.html.erbに各テンプレートファイルを展開するためのメソッド %>
    <%# yieldを記述することで、indexアクションの場合はテンプレートファイルのindex.html.erbの内容が、newアクションの場合はnew.html.erbが、yield記述部分へ展開されるようになる %>
    <%# yieldがあることで、「body要素内に各ビューファイルの記述が集約される」という仕組みができている %>
    <%= yield %>
    <footer class="footer">
      <p class="copyright">Copyright © PROTO SPACE All rights reserved.</p>
    </footer>
  </body>
</html>
